@page "/kyc-status"
@using XUMM.Net.Clients.Interfaces
@using XUMM.Net.Enums
@using XUMM.Net.Extensions

@inject IXummMiscClient _miscClient

<PageTitle>KYC Status</PageTitle>

<ResponseAlertBox @ref="_responseAlertBox"></ResponseAlertBox>

<h1>KYC Status</h1>

<div class="row align-items-start">
    <div class="col-md-6">
        <div class="row">
            <div class="mb-3">
                <label for="usertokenoraccount" class="form-label">User token or account</label>
                <input id="usertokenoraccount" type="text" class="form-control" placeholder="User Token or Account address" aria-label="User token or account" aria-describedby="basic-addon2" @bind="_userTokenOrAccount">
                <small id="usertokenoraccounthelp" class="form-text text-muted">eg. @ExampleAccount</small>
            </div>
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-primary" type="button" @onclick="GetKycStatusAsync">Fetch KYC Status</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (_kycStatus != null)
        {
            <dl class="row">
                <dt class="col-6">KYC Status</dt>
                <dd class="col-6">@_kycStatus</dd>
                <dt class="col-6">Type</dt>
                <dd class="col-6">@_userTokenOrAccountType</dd>
            </dl>
        }
    </div>
</div>

@code {
    private const string ExampleAccount = "rDWLGshgAxSX2G4TEv3gA6QhtLgiXrWQXB";
    private ResponseAlertBox _responseAlertBox = default!;
    private string _userTokenOrAccount = default!;
    private string _userTokenOrAccountType = default!;
    private XummKycStatus? _kycStatus;

    private async Task GetKycStatusAsync()
    {
        if (!_userTokenOrAccount.IsAccountAddress() && !_userTokenOrAccount.IsValidUuid())
        {
            _userTokenOrAccount = ExampleAccount;
        }

        _kycStatus = await _responseAlertBox.GetResponseAndSetAlertAsync(() => _miscClient.GetKycStatusAsync(_userTokenOrAccount));
        _userTokenOrAccountType = _userTokenOrAccount.IsAccountAddress() ? "Account" : "User token";
        _responseAlertBox.SetAlert("KYC Status", _kycStatus != null);
    }
}
