@page "/rates"
@using XUMM.NET.SDK.Clients.Interfaces
@using XUMM.NET.SDK.Models.Misc

@inject IOptions<XrplConfig> Config
@inject IXummMiscClient _miscClient

<PageTitle>Rates</PageTitle>

<ResponseAlertBox @ref="_responseAlertBox"></ResponseAlertBox>

<h1>Rates</h1>

<div class="row align-items-start">
    <div class="col-md-6">
        <div class="row">
            <div class="mb-3">
                <label for="currency" class="form-label">Currency</label>
                <input id="currency" class="form-control" placeholder="The 3 alpha char currency code" aria-label="Currency" aria-describedby="basic-addon2" @bind="_currency">
                <small id="currencyhelp" class="form-text text-muted">eg. @Config.Value.CurrencyCode</small>
            </div>
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-primary" type="button" @onclick="GetRatesAsync">Fetch Rates</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (_rates != null)
        {
            <dl class="row">
                <dt class="col-6">Name</dt>
                <dd class="col-6 text-break">@_rates.Meta.Currency.En</dd>
                <dt class="col-6">USD</dt>
                <dd class="col-6 text-break">$ @_rates.USD</dd>
                <dt class="col-6">XRP</dt>
                <dd class="col-6 text-break">@_rates.XRP XRP</dd>
            </dl>
        }
    </div>
</div>

@code {
    private ResponseAlertBox _responseAlertBox = default!;
    private string _currency = default!;
    private XummRates? _rates;

    private async Task GetRatesAsync()
    {
        if (string.IsNullOrWhiteSpace(_currency))
        {
            _currency = Config.Value.CurrencyCode;
        }

        _rates = await _responseAlertBox.GetResponseAndSetAlertAsync(() => _miscClient.GetRatesAsync(_currency));
        _responseAlertBox.SetAlert("Rates", _rates != null);
    }
}
