@page "/transaction"
@using XUMM.NET.SDK.Models.Misc
@using XUMM.NET.ServerApp.Extensions

@inject IXummMiscClient MiscClient

<PageTitle>Transaction</PageTitle>

<ResponseAlertBox @ref="_responseAlertBox"></ResponseAlertBox>

<h1>Transaction</h1>
<div class="row">
    <div class="mb-3">
        <label for="transactionhash" class="form-label">Transaction Hash</label>
        <input id="transactionhash" type="text" class="form-control" placeholder="The transaction hash (64 hexadecimal characters)" aria-label="Transaction Hash" aria-describedby="basic-addon2" @bind="_txHash">
    </div>
    <div class="btn-group mb-3" role="group">
        <button class="btn btn-primary" type="button" @onclick="GetTransactionAsync">Fetch transaction</button>
    </div>
</div>

@if (_transaction != null)
{
    <div class="row">
        <div class="mb-3">
            <h2>Transaction details</h2>
            <div class="text-break">
                <code>@_transaction.Transaction.ToJsonString()</code>
            </div>
        </div>
    </div>
}

@code {
    private ResponseAlertBox? _responseAlertBox;
    private string _txHash = default!;
    private XummTransaction? _transaction;

    private async Task GetTransactionAsync()
    {
        if (string.IsNullOrWhiteSpace(_txHash))
        {
            return;
        }

        _transaction = await _responseAlertBox!.GetResponseAndSetAlertAsync(() => MiscClient.GetTransactionAsync(_txHash));
        _responseAlertBox.SetAlert("Transaction Details", _transaction != null);
    }
}
