@page
@model IndexModel
@{
    ViewData["Title"] = "XUMM.NET.SDK";
}

<div class="text-center">
    <h1 class="display-4">XUMM.NET Example Web app</h1>
    <p>Use the navigation menu to view example implementations.</p>
</div>
