<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">XUMM.Net Blazor App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => _expandMiscSubNav = !_expandMiscSubNav">
                <span class="oi oi-chevron-@(_expandMiscSubNav? "bottom": "right")" aria-hidden="true"></span> Misc
            </NavLink>
            @if (_expandMiscSubNav)
            {
                <NavLink class="nav-link" href="/pingpong">
                    <span class="oi oi-signal" aria-hidden="true"></span> Ping
                </NavLink>
                <NavLink class="nav-link" href="/curatedassets">
                    <span class="oi oi-check" aria-hidden="true"></span> Curated Assets
                </NavLink>
                <NavLink class="nav-link" href="/transaction">
                    <span class="oi oi-document" aria-hidden="true"></span> Transaction
                </NavLink>
                <NavLink class="nav-link" href="/kyc-status">
                    <span class="oi oi-person" aria-hidden="true"></span> KYC Status
                </NavLink>
                <NavLink class="nav-link" href="/rates">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Rates
                </NavLink>
                <NavLink class="nav-link" href="/avatar">
                    <span class="oi oi-image" aria-hidden="true"></span> Avatar
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => _expandPayloadSubNav = !_expandPayloadSubNav">
                <span class="oi oi-chevron-@(_expandPayloadSubNav? "bottom": "right")" aria-hidden="true"></span> Payload
            </NavLink>
            @if (_expandPayloadSubNav)
            {
                <NavLink class="nav-link" href="/signin">
                    <span class="oi oi-account-login" aria-hidden="true"></span> SignIn
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private bool _expandMiscSubNav;
    private bool _expandPayloadSubNav;
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
