<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">XUMM.NET Blazor App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick='(() => ToggleSubNavMenu("Misc"))'>
                <span class="oi oi-chevron-@(IsSubNavMenuExpanded("Misc") ? "bottom": "right")" aria-hidden="true"></span> Misc
            </NavLink>
            @if (IsSubNavMenuExpanded("Misc"))
            {
                <NavLink class="nav-link ps-4" href="/pingpong">
                    <span class="oi oi-signal" aria-hidden="true"></span> Ping
                </NavLink>
                <NavLink class="nav-link ps-4" href="/curatedassets">
                    <span class="oi oi-check" aria-hidden="true"></span> Curated Assets
                </NavLink>
                <NavLink class="nav-link ps-4" href="/transaction">
                    <span class="oi oi-document" aria-hidden="true"></span> Transaction
                </NavLink>
                <NavLink class="nav-link ps-4" href="/kyc-status">
                    <span class="oi oi-person" aria-hidden="true"></span> KYC Status
                </NavLink>
                <NavLink class="nav-link ps-4" href="/rates">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Rates
                </NavLink>
                <NavLink class="nav-link ps-4" href="/user-tokens">
                    <span class="oi oi-key" aria-hidden="true"></span> User Tokens
                </NavLink>
                <NavLink class="nav-link ps-4" href="/account-meta">
                    <span class="oi oi-copywriting" aria-hidden="true"></span> Account Meta
                </NavLink>
                <NavLink class="nav-link ps-4" href="/avatar">
                    <span class="oi oi-image" aria-hidden="true"></span> Avatar
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick='(() => ToggleSubNavMenu("Storage"))'>
                <span class="oi oi-chevron-@(IsSubNavMenuExpanded("Storage") ? "bottom": "right")" aria-hidden="true"></span> Storage
            </NavLink>
            @if (IsSubNavMenuExpanded("Storage"))
            {
                <NavLink class="nav-link ps-4" href="/storage">
                    <span class="oi oi-box" aria-hidden="true"></span> Storage
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick='(() => ToggleSubNavMenu("Payload"))'>
                <span class="oi oi-chevron-@(IsSubNavMenuExpanded("Payload") ? "bottom": "right")" aria-hidden="true"></span> Payload
            </NavLink>
            @if (IsSubNavMenuExpanded("Payload"))
            {
                <NavLink class="nav-link ps-4" href="/signin">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Sign In
                </NavLink>
                <NavLink class="nav-link ps-4" href="/custom-json">
                    <span class="oi oi-document" aria-hidden="true"></span> Custom JSON
                </NavLink>
                <NavLink class="nav-link ps-4" href="/payload-details">
                    <span class="oi oi-list" aria-hidden="true"></span> Details
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick='(() => ToggleSubNavMenu("XApp"))'>
                <span class="oi oi-chevron-@(IsSubNavMenuExpanded("XApp") ? "bottom": "right")" aria-hidden="true"></span> xApp
            </NavLink>
            @if (IsSubNavMenuExpanded("XApp"))
            {
                <NavLink class="nav-link ps-4" href="/onetimetoken">
                    <span class="oi oi-clock" aria-hidden="true"></span> OTT Data
                </NavLink>
                <NavLink class="nav-link ps-4" href="/refetchonetimetoken">
                    <span class="oi oi-reload" aria-hidden="true"></span> Re-Fetch OTT Data
                </NavLink>
                <NavLink class="nav-link ps-4" href="/onetimetokenevent">
                    <span class="oi oi-task" aria-hidden="true"></span> Event
                </NavLink>
                <NavLink class="nav-link ps-4" href="/onetimetokenpush">
                    <span class="oi oi-bolt" aria-hidden="true"></span> Push
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private string? _expandedSubNavMenu;
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
        _expandedSubNavMenu = null;
    }

    private void ToggleSubNavMenu(string subNavMenu)
    {
        if (_expandedSubNavMenu != subNavMenu)
        {
            _expandedSubNavMenu = subNavMenu;
        }
        else
        {
            _expandedSubNavMenu = null;
        }

        _collapseNavMenu = false;
    }

    private bool IsSubNavMenuExpanded(string subNavMenu)
    {
        return _expandedSubNavMenu == subNavMenu;
    }
}
