@page "/pingpong"
@using XUMM.Net.Clients.Interfaces
@using XUMM.Net.Models.Misc

@inject IXummMiscClient _miscClient

<PageTitle>Ping</PageTitle>

<ResponseAlertBox @ref="_responseAlertBox"></ResponseAlertBox>

<h1>Ping</h1>

<div class="btn-group" role="group">
    <button class="btn btn-primary" @onclick="CreatePayloadAndSubscribe">Ping</button>
</div>

@code {
    private ResponseAlertBox _responseAlertBox = default!;
    private XummPong? _pong;

    private async Task CreatePayloadAndSubscribe()
    {
        _pong = await _responseAlertBox.GetResponseAndSetAlertAsync(() => _miscClient.PingAsync());
        _responseAlertBox.SetAlert("Pong", _pong != null);
    }
}
