@page "/transaction"
@using XUMM.Net.Clients.Interfaces
@using XUMM.Net.Models.Misc

@inject IXummMiscClient _miscClient

<PageTitle>Transaction</PageTitle>

<ResponseAlertBox @ref="_responseAlertBox"></ResponseAlertBox>

<h1>Transaction</h1>
<div class="row">
    <div class="mb-3">
        <label for="transactionhash" class="form-label">Transaction Hash</label>
        <input id="transactionhash" type="text" class="form-control" placeholder="The transaction hash (64 hexadecimal characters)" aria-label="Transaction Hash" aria-describedby="basic-addon2" @bind="_txHash">
    </div>
    <div class="btn-group mb-3" role="group">
        <button class="btn btn-primary" type="button" @onclick="GetTransactionAsync">Fetch transaction</button>
    </div>
</div>

@if (_transaction != null)
{
    <div class="row">
        <div class="mb-3">
            <h2>Transaction details</h2>
            <dl class="row">
                @foreach (var transactionDetails in _transaction.Transaction.OrderBy(x => x.Key))
                {
                    <dt class="col-sm-2">@transactionDetails.Key</dt>
                    <dd class="col-sm-10 text-break">@transactionDetails.Value</dd>
                }
            </dl>
        </div>
    </div>
}

@code {
    private ResponseAlertBox _responseAlertBox = default!;
    private string _txHash = default!;
    private XummTransaction? _transaction;

    private async Task GetTransactionAsync()
    {
        _transaction = await _responseAlertBox.GetResponseAndSetAlertAsync(() => _miscClient.GetTransactionAsync(_txHash));
        _responseAlertBox.SetAlert("Transaction Details", _transaction != null);
    }
}
